@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');/*Lato*/

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.navbar{
    padding: 10px;
    background-color: black;
}

/* HEADER */

.barra-links {
    color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.btn-icon-header {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 50px;
    padding-top: 20px;
}

/* SIDEBAR */

.sidebar-hidden {
    position: absolute;
    display: flex;
    visibility: hidden;
    height: 86.8vh;
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    backdrop-filter: contrast(-40%);
    border-right: solid rgba(216, 216, 216, 0.096) 2px;
    transition: left 1s;
    left: -20%; /* Esconde a sidebar fora da tela */
}

.sidebar-shown {
    position: absolute;
    display: flex;
    visibility: visible;
    height: 86.8vh;
    width: auto;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    backdrop-filter: contrast(-20%);
    border-right: solid rgba(216, 216, 216, 0.096) 3px;
    left: 0%; /* Mostra a sidebar na tela */
    transition: 1s;
    background-color: black;
    opacity: 0.6;
}

.element-sidebar{
    margin-top: 60px;
}

.element-sidebar a{
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}

.element-sidebar a:hover {
    transition: 0.4s;
    color: #360202;
}

#some{
    display: none;
}

/* SUBMENU */
.element-sidebar {
    position: relative;
}

.element-sidebar .submenu {
    display: none;
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: auto;
}

.element-sidebar .submenu li {
    padding: 0;
}

.element-sidebar .submenu li a {
    padding: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    display: block;
}

.element-sidebar .submenu li a:hover {
    background-color: #ddd;
    color: #360202;

}

.element-sidebar:hover .submenu {
    display: block;
}