@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
    position: fixed;
    top: 3%;
    left: 3%;
    font-size: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    position: relative;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exit a{
  color:#fff;
  transition: 0.4s;
}
.exit a:hover{
  color: #360202;
}

.marca {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box {
  position: relative;
  width: 90%;
  height: 50px;
  margin: 30px 0;
  align-items: center;
}
.input-box input {
  width: 100%;
  height: 50%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 10px 20px 20px;
  margin-left: 5px;
}

.input-box input::placeholder {
  color: #ffffff79;
}
.input-box i {
  position: absolute;
  right: 1px;
  top: 48%;
  font-size: 25px;
}
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
  padding: 15px 10px 0px 5px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: black;
  text-decoration: none;
  font-weight: 550;
}
.remember-forgot a:hover {
  text-decoration: underline;
  color: #333;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: 0.4s;
  margin-bottom: 20px;
}
.wrapper .btn:hover{
  background-color: rgb(207, 207, 207);
  transition: 0.4s;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}

.flashes-box .flashes {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  font-weight: 600;
  text-align: center;
}

