{% extends "card.html" %}
{% block content %}

<h2> Individuais </h2>
{% for prato in individuais %}
    {% include '_pratos.html' %}
{% endfor %}
<div>
    <form action="{{ url_for('cardapioCompleto', tipo='Individual') }}" method="GET">
        <button type="submit">Ver mais</button>
    </form>
</div>  
<hr>

<h2> Porções </h2>
{% for prato in porcoes %}
    {% include '_pratos.html' %}
{% endfor %}
<div>
    <form action="{{ url_for('cardapioCompleto', tipo='Porção') }}" method="GET">
        <button type="submit">Ver mais</button>
    </form>
</div>  
<hr>

<h2> Bebidas </h2>
{% for prato in bebidas %}
    {% include '_pratos.html' %}
{% endfor %}
<div>
    <form action="{{ url_for('cardapioCompleto', tipo='Bebida') }}" method="GET">
        <button type="submit">Ver mais</button>
    </form>
</div>  
{% endblock %}

