<footer>
    <div class="flexfoot">
        <div class="links">
            <div class="social">
                <h3 style="text-align: center;">Links</h3>
                <div class="flex-social">
                    <a href="https://www.instagram.com/la.binho/"><button class="btn-footer"><img src="{{ url_for ('static', filename='imagens/instagram-ico.png') }}" width="40px" alt="icone instagram"></button></a>
                    <a href="https://api.whatsapp.com/send?phone=553138343668"><button class="btn-footer"><img src="{{ url_for ('static', filename='imagens/zap-ico.png') }}" width="40px" alt="icone whatsapp"></button></a>
                    <a href="https://www.facebook.com/la.binho.1/?locale=pt_BR"><button class="btn-footer"><img src="{{ url_for ('static', filename='imagens/facebook-ico.png') }}"  width="40px" alt="icone facebook"></button></a>
                </div>
                
            </div>
        </div>
        <div class="navegacao">
            <h3>Navegação</h3>
            <a href="/index/index.html">Menu</a>
            <a href="#salao">Sobre</a>
            <a href="#contato">Contatos</a>
        </div>
        <div class="developed">
            <h3>Developed</h3>
            <p>Rafael Pastor#PD009</p>
            <p>Joao Vitor Moreira#PD079</p>
            <p>Diego Penna Andrade Barros#PD274</p>
            <p>Frederico Matheus Costa Duarte#PD284</p>
            <p>Isabela Maria De Sá Teixeira#PD341</p>
            
    
        </div>
    </div>    
    <div class="copyright"><p>© 2024 All rights reserved</p></div>
    
    
    </footer>